*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

input {
    outline: none;
    border: none;
}

.body {
    width: 100%;
}



.main  {
    flex: 1 1 100%;
}

.header-footer {
    background-color: #131313;
}

.header-footer__container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1468px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    padding: 20px 15px; 
}

.header-footer__name {
    color: #E3B873;
    margin-left: 92px;
    
}

.nav__list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:#FFFFFF;
    list-style-type: none;
    margin-left: 50px;
    
}

.nav__item {
    margin-right: 47px;
}

.nav__list li:first-child {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6px;
    
}

.header-footer__request {
    display: flex;
}

.header-footer__number-item {
    margin-right: 30px;
    color: #E3B873;
    text-decoration: underline;
}

.header-footer__button {
    flex: 0 1 161px; 
    background-color: #E3B873;
    height: 37px;
    margin-right: 90px;
}

.button__link {
    width: 161px;
    text-decoration: none;
    color: #FFFFFF;
}

.header-footer__area-tel {
    display: flex;
    align-items: center;
}

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(../images/Background.jpg) center/cover no-repeat;
    min-height: 707px;
    color: #FFFFFF;
}

.main__inner {
    padding-left: 134px;
}

.form__container {
    max-width: 1468px;
    width: 100%;
    margin: 0 auto;
    padding-left: 134px;
}

.form__title {
    font-family: 'Yeseva One';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 53px;
}

.form__title span{
    color: #E3B873;
}

.form__text {
    font-size: 22px;
    line-height: 36px;
    margin: 16px 0 32px;
    font-family: 'Nunito Sans';
    max-width: 505px;
    

}

.form__button-box {
    display: flex;
    
}

.form__button {
    padding: 20px 42px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    text-decoration: none;
    font-size: 11px;
}

.button-hollow {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 20px;
}


.images__slider-item {
    display: none;
}

.completed-project {
    background: #131313;
    padding-bottom: 300px;
}

.completed-project__container {
    display: flex;
    flex-direction: row;
    max-width: 1468px;
    width: 100%;
    margin: 0 auto;
    padding: 107px 134.45px;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    
}

.completed-project__text {
    flex: 1 1 40%;
    max-height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__main-title {
    font-size: 27px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 37px;
    font-family: 'Yeseva One';
    margin-top: 65px;
}

.text__main-content {
    font-size: 14px;
    margin: 34px 0 ;
    max-width: 406px;
    line-height: 26px;
}

.text__flex-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.text__flex-item-1 {
    display: flex;
    
    padding-bottom: 45px;
}

.text__flex-item-2 {
    display: flex;
    
}

.text__flex-box-1 {
    margin-right: 100px;
}

.text__flex-box-3 {
    margin-right: 65px;
}

.text__subtitle {
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Yeseva One';
}

.text__content {
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
}

.slider {
    margin-top: 70px;
}


.completed-project__images {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    margin: 0 auto;
    padding-left: 20px;
}

.images__list {
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 73px;
    color: rgba(255, 255, 255, 0.3);;
    text-transform: uppercase;
}

.images__item:hover {
    color: #E3B873;
    text-decoration: underline;
}

.complete-project__area-content {
    display: none;
}

.online-control {
    height: 1075px;
    top: 1650px;
    left: 510px;
    margin-top: -325px;
    
}

.online-control__logo {
    display: flex;
    justify-content: center;
}

.control__img {
    margin-bottom: 31px;
    
}

.online-control__video {
    display: flex;
    justify-content: center;
}


.video__play {
    margin-top: 150px;
    position: absolute;
}

.application__dash {
    width: 55px;
    height: 2px;
    color: #E3B873;
    margin: 62px auto 34px;
}

.online-control__application {
    margin: 0 auto;
}

.application__text {
    max-width: 681px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 93px;
    font-size: 18px;
    font-family: 'Nunito Sans';
    line-height: 38px;
    text-align: center;

}

.application__form {
    max-width: 769px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    font-family: 'Nunito Sans';
}



.application__form input {
    width: 231px;
    margin-bottom: 5px;
}

.application__form span {
    padding-left: 1px;
}

.application__name {
    width: 231px;
    border-bottom: 1px solid black;
}


.application__phone {
    width: 231px;
    border-bottom: 1px solid black;
}


.application__button {
    width: 200px;
    height: 51px;
    background: #E3B873;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    font-family: 'Nunito Sans';
}

.application__agree {
    margin: 37px auto 0;
    width: 320px;
    vertical-align: middle;
    font-family: 'Nunito Sans';

}

.application__button--hide {
    display: none;
}

.application__img-ok {
    max-width: 18px;
    
}

.repair__container {
    padding: 0 100px;
}

.repair__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.repair__logo {
    width: 100px;
    margin: 13px auto 31px;
}

.example {
    margin: 0 auto;
    height: 608px;

}

.example__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.example__item-1 {
    background-image: url(../images/priceitem.jpg);
    background-repeat: no-repeat;
}

.example__item-2 {
    background-image: url(../images/priceitem2.jpg);
    background-repeat: no-repeat;
    margin: 0 42px;
}

.example__item-3 {
    background-image: url(../images/priceitem3.jpg);
    background-repeat: no-repeat;
}

.example__title {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-family: 'Yeseva One';
    padding-top: 10px;

}

.example__item {
    width: 392px;
    padding: 300px 32px 0;
}

.example__list {
    width: 296px;
    height: 286px;
    padding-left: 34px;
    line-height: 26px;
    color: #959595;
    font-family: 'Nunito Sans';
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-bottom: -10%;

}

.example__button {
    width: 228px;
    height: 54px;
    font-size: 18px;
    background: #E3B873;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    margin-bottom: 53px;
    border: none;

}



.measurer {
    display: flex;
    flex-direction: row;
    height: 725px;
    margin: 100px 0 180px;
    background-image: url(../images/grafica.jpg);
    background-repeat: no-repeat;
}

.measurer__container {
    display: flex;
    margin: 0 auto;
}

.measurer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 610px;
}

.list__item {
    display: flex;
}

.list__circle {
    display: flex;
    justify-content: center;
    margin-left: 235px;
    min-width: 41px;
    height: 41px;
    text-align: center;
    background-color: #E3B873;
    border-radius: 50px;
    border: 10px solid white;

}

.list__number {
    display: block;
    font-size: 18px;
    font-family: 'Yeseva One';
    margin-top: 10px;
    color: #FFFFFF;

}

.list__content {
    margin: auto 21px;
    max-width: 320px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 19px;
    
}

.measurer__form {
    width: 506px;
    height: 509px;
    margin: 59px 100px 38px 206px;
    background-color: #131313;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
}

.measurer__title {
    max-width: 250px;
    margin: 0 auto;
    padding-top: 28px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
}

.measurer__name {
    display: flex;
    flex-direction: column;
    margin: 49px 49px 48px;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.name__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.name__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__phone {
    display: flex;
    flex-direction: column;
    margin: 0 49px;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.phone__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.phone__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__email {
    display: flex;
    flex-direction: column;
    margin: 48px 49px 0;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.email__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.email__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__agree {
    margin: 16px 0 0 49px;
    font-size: 14px;
}

.measurer__button {
    width: 213px;
    height: 51px;
    margin-left: 244px;
    margin-top: 20px;
    background: #E3B873;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
}

.measurer__pigsale {
    display: flex;
    color: #E3B873;
    margin-left: 240px;
}

.pigsale__img {
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background: #E3B873;
}

.pigsale__img img {
    position: relative;
    left: 18px;
    top: 18px;
}

.pigsale__content {
    max-width: 220px;
    margin: 25px 0 0 25px;
    font-size: 18px;
    font-family: 'Nunito Sans';

}

.realize {
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(../images/realize__background.png) center/cover no-repeat;
}

.realize__container {
    display: flex;
    flex-direction: row;
    max-width: 1468px;
    width: 100%;
    margin: 0 auto;
    height: 864px;
    background-size: cover;
}

.realize__text {
    flex: 1 1 35%;
}

.realize__list {   
    padding: 0 0 97px 99px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.realize__list li {
    margin-bottom: 12px;
}

.realize__image-box {
    position: relative;
    flex: 1 1 65%;
}

.realize__title {
    max-width: 411px;
    padding: 137px 0 50px 99px;
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    text-transform: uppercase;

}

.realize__list li:first-child {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.image-box__item-1 {
    position: absolute;
    top: -41px;
}

.image-box__item-2 {
    position: absolute;
    left: 397px;
    top: -112.5px;
}

.image-box__item-3 {
    position: absolute;
    top: 554px;
    
}

.image-box__item-4 {
    position: absolute;
    left: 397px;
    top: 200px;
}

.clients__container {
    height: 1100px;
}

.clients__header {
    display: flex;
    flex-direction: column;
    padding-top: 130px;

}

.clients__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    font-family: 'Yeseva One';

}

.clients__logo {
    width: 150px;
    margin: 13px auto 20px;
}

.clients__subtitle {
    max-width: 400px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Nunito Sans';
    margin:0 auto;
    text-align: center;

}

.feedback {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    max-width: 1215;
    margin-bottom: 200px;
}

.feedback__item-1  {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.feedback__item-2 {
    margin-left: 90px;
    margin-right: 120px;
}


.feedback__header {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    max-height: 110px;
}

.feedback__circle {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
}

.feedback__header-img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.feedback__header-fcs {
    max-width: 178px;
    margin: auto 0;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Yeseva One';
}

.feedback__content {
    max-width: 320px;
    margin-top: 13px;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Nunito Sans';
    color: #959595;
    
}

.feedback__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: -5%;
}

.button__first {
    display: flex;
    margin-right: 2px;
    width: 134px;
    height: 54px;
    background: #E3B873;
    font-size: 17px;
    line-height: 27px;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    border: none;
    
}

.button__second {
    display: flex;
    width: 155px;
    height: 54px;
    background: #E3B873;
    font-size: 17px;
    line-height: 27px;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    border: none;
    
}

.buttons-days{
    display: block;
    margin: auto 0 auto 25px;
}

.buttons-image {
    position: relative;
    top: 10px;
    left: 10px;
}

.question {
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    max-width: 883px;
    width: 100%;
    height: 445px;
    background: #181818;
    
}

.question__wrapper {
    width: 516px;
    margin: 0 auto;
}

.question-title {
    width: 100%;
    padding-top: 35px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    text-transform: uppercase;
}

.question__flex {
    display: flex;
    color: #FFFFFF;
    
}

.question__name {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 52px;
    margin-right: 58px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.name-input {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.question__phone {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 52px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;

}

.phone-input {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    
}

.question__que {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52px;
    margin: 48px auto 0;
    font-family: 'Nunito Sans';
    color: rgba(255, 255, 255, 0.5);
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.que-input {
    margin-top: 3px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.question__agree {
    display: flex;
    margin: 0px 80px 35px;
    font-family: 'Nunito Sans';
    line-height: 163.68%;
}

.agree__text {
    width: 280px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;
}



.question__button {
    margin: -15px 150px 30px;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-family: 'Nunito Sans';
    background: #E3B873;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
}

.pre-footer {
    height: 953px;
    background: linear-gradient(rgba(0, 0, 0, .9),rgba(0, 0, 0, .72)), url(../images/backgroundmap.jpg);
}

.pre-footer__container {
    width: 100%;
    max-height: 953px;
    height: 100%;
    margin: 0 auto;
    
}

.pre-footer__title {
    margin: 0 auto;
    max-width: 555px;
    padding-top: 300px;
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin: 26px auto;
}

.icon__inst {
    width: 28px;
    height: 28px;
    background: #E3B873;
    border-radius: 50%;
}

.icon__mail {
    width: 28px;
    height: 28px;
    background: #E3B873;
    border-radius: 50%;
}

.pre-footer__map {
    display: block;
    max-width: 925px;
    width: 100%;
    margin: 0 auto;
}

.header-footer__container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    height: 133px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 -15px;

}

@media (max-width: 1300px) {
    .nav {
        display: none;
    }
    
    .text__flex {
        display: none;
    }

    .completed-project__container {
        flex-direction: column;
    }

    .text__main-title {
        text-align: center;
        margin-top: -50px;
    }

    .text__main-content {
        text-align: center;
        margin: 36px auto;
    }

    .images__slider-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #E3B873;
        border-radius: 50%;
    }

    .slider-item-1 {
        position: relative;
        top: 261px;
        left: -78px;
    }

    .slider-item-2 {
        position: relative;
        top: -273px;
        left: 708px;
        padding: 0 15px 0;
    }

    .complete-project__area-content {
        display: block;
    }

}

@media (max-width: 992px) {

    .nav__list:last-child {
        margin-right: 35px;
    }

    .nav__item {
        margin-right: 23px;
    }

    .images__img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }

    .images__list {
        display: none;
    }

    .slider-item-1 {
        top: 200px;
        left: -70px;
    }

    .slider-item-2 {
        top: -200px;
        left: 520px;
    }

    .video__img {
        max-width: 600px;
    }

    .video__play {
        margin-top: 93px;
    }


}

@media (max-width: 768px) {

    .header-footer__container {
        justify-content: center;
        align-items: end;
        padding-bottom: 10px;
    }

    .header-footer__button {
        display: none;
    }

    .header-footer__number-item {
        color: #FFFFFF;
    }
    
    .form__button-box {
        flex-direction: column;
    }

    .form__button {
        max-width: 236px;
        font-size: 10px;
    }


    .button-hollow {
        margin: 10px 0 0;
    }

    .form__container {
        padding-left: 50px;
    }

    .header-footer__name {
        margin-left: 40px;
    }

    .form__title h1{
        font-size: 25px;
        line-height: 53px;
    }

    .form__text p{
        font-size: 25px;
        padding: 0 15px 0 0;
    }

    .button__box {
        display: flex;
        flex-direction: column;
    }

    .button-hollow {
        /* position: absolute; */
        bottom: 180px;
        left: 113px;
    }

    .completed-project__container {
        padding-left: 0px;
        margin: 0 auto;
        padding: 100px 0 0;
    }

    .complete-project__area-content {
        padding-bottom: 80px;
    }

    .completed-project__images {
        padding: 0 0;
    }

    .images__img {
        max-width: 400px;
    }

    .images__slider {
        background-image: url(../images/mobile-complete.jpg);
        height: 240px;
    }

    .images__img {
        display: none;
    }

    .images__slider-item {
        max-width: 35px;
        max-height: 35px;
    }

    .slider-item-1 {
        top: 100px;
        left: 10px;
    }

    .slider-item-2 {
        top: -141px;
        left: 318px;
    }

    .online-control {
        max-height: 1075px;
        background-color: #131313;
        color: #FFFFFF;
    }

    .video__img {
        max-width: 475px;
        width: 100%;
    }

    .video__play {
        max-width: 100px;
        margin-top: 75px;
        padding: 0 10px;
    }

    .application__dash {
        margin-top: 30px;
    }
    
    .application__form {
        flex-direction: column;
    
    }

    .application__form input {
        background-color: #131313;
    }

    .application__text {
        padding: 0 15px 50px;
        font-size: 14px;
        width: 75%;

    }
    
    .application__name{
        background-color: #131313;
        font-size: 14px;
        border-bottom: 1px solid #363636;
        margin: 0 auto 33px;
    }

    .application__phone {
        font-size: 14px;
        border-bottom: 1px solid #363636;
        margin: 0 auto 33px;
    }

    .application__button {
        display: none;
    }

    .application__agree {
        text-align: center;
        margin: 33px auto;
    }

    .application__button--hide {
        display: block;
        width: 251px;
        padding: 15px 0;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0 auto;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
        font-family: 'Nunito Sans';
        font-size: 13px;
        line-height: 26px;
    }

    .repair__container {
        padding: 0 0;
    }

    .repair__title {
        margin-top: 100px;
    }

    .example__flex {
        flex-direction: column;
        
    }

    .example__item {
        margin: 0 auto;
    }

    .step-3 {
        margin-top: 1500px;
    }

    .measurer {
        display: none;
    }

    .image-box {
        padding-left: 203px;
    }

    .example__item-1 {
        z-index: -4;
    }

    .example__item-2 {
        z-index: -4;
    }

    .example__item-3 {
        z-index: -4;
    }

    .example__list {
        position: relative;
        left: -32px;
        z-index: -2;
    }

    .example__button {
        margin-bottom: 20px;
        z-index: 3;
    }

    .realize {
        background-image: none;
    }

    .realize__container {
        flex-direction: column;
    }

    .realize__list {
        padding: 0 0;
        display: none;
    }


    .realize__title {
        margin: -50px auto 0;
        padding: 0 0;
        text-align: center;
        font-size: 22px;
        line-height: 27px;
    }

    .image-box {
        height: 100%;
        padding: 0 0;
    }

    .image-box__item-1 {
        margin: 0 auto;
        width: 354px;
        position: relative;
        top: -250px;
    }

    .image-box__item-1 img {
        max-height: 350px;
        width: 100%;
        object-fit: cover;
    }

    .image-box__item-2, .image-box__item-3, .image-box__item-4 {
        display: none;
    }

    .clients__container {
        max-height: 570px;
    }

    .clients__header {
        display: none;
    }

    .clients__feedback {
        display: none;
    }

    .clients__question {
        margin-top: -580px;
    }

    .question {
        height: 640px;
        z-index: -2;
    }

    .question__wrapper {
        padding: 0 0;
    }

    .question-title {
        padding-top: 250px;
    }

    .question__button {
        
    }

    .pre-footer {
        background-image: none;
        height: 600px;
    }

    .pre-footer__container {
        display: flex;
        flex-direction: column-reverse;
        background-color: #181818;
        height: 600px;
        
    
    }

    .pre-footer__title {
        padding: 0 0 50px;
    }

    .header-footer__container-2 {
        display: none;
    }




}



/* 1. Я много в каких селекторах css подключал 2 разных шрифта (особенно это видно в clients__question), почему=то я не мог задать единый шрифт nunito на body например. Как лучше было сделать со шрифтами? */
    /* 2. Правильно ли для переноса текста на другую строку использовать ограничение ширины блока с текстом, как например .pre-footer__title, какие еще способы кроме br есть?  */