
a {
    text-decoration: none;
    color: #FFFFFF;
}

input {
    outline: none;
    border: none;
}

.body {
    width: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

[class*="__container"] {
    margin: 0 auto;
    max-width: 1468px;
}

.main  {
    flex: 1 1 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    min-height: 83px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 -15px;

}

.header__name {
    color: #E3B873;
    margin-left: 92px;
    
}

.nav__list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:#FFFFFF;
    list-style-type: none;
    margin-left: 50px;
    
}

.nav__item {
    margin-right: 47px;
}

.nav__list li:first-child {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6px;
    
}

.header__request {
    display: flex;
}

.header__number a{
    text-decoration: none;
    color: #E3B873;
    min-width: 126px;

}

.header__button {
    flex: 0 1 161px; 
    background-color: #E3B873;
    height: 37px;
    margin-right: 90px;
}

.button__link {
    width: 161px;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1300px) {
    .header__number {
        position: fixed;
        top: 120px;
        left: 135px;
        text-decoration: underline;
    }
    .header__button {
        position: fixed;
        top: 140px;
        left: 135px;
        width: 161px;
    }
}

@media (max-width: 992px) {

    .nav__list:last-child {
        margin-right: 35px;
    }

    .nav__item {
        margin-right: 23px;
    }

}

@media (max-width: 768px) {

    .header__container {
        justify-content: center;
        align-items: end;
        padding-bottom: 10px;
    }

    .header__name {
        position: fixed;
        margin: 40px auto;
        font-size: 16px;
    }

    .header__number {
        position: fixed;
        top: 120px;
        left: 135px;
        text-decoration: underline;
    }
    .header__button {
        position: fixed;
        top: 140px;
        left: 135px;
        width: 161px;
    }

    .form__title h1{
        font-size: 30px;
    }

    .form__text p{
        font-size: 20px;
        padding: 0 15px 0 0;
    }

    .button-hollow {
        position: absolute;
        bottom: 180px;
        left: 113px;
    }
}

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(../images/Background.jpg);
    min-height: 707px;
    color: #FFFFFF;
    padding-left: 134px;
}

.form__title {
    font-family: 'Yeseva One';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 53px;
}

.form__title span{
    color: #E3B873;
}

.form__text {
    font-size: 22px;
    line-height: 36px;
    font-family: 'Nunito Sans';
    max-width: 505px;
    margin: 19px 0 25px;

}

.form__button {
    width: 207px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    text-decoration: none;
    font-size: 11px;
}

.button-hollow {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 20px;
}

.completed-project__container {
    display: flex;
    width: 1440;
    flex-direction: row;
    min-height: 950px;
    padding: 107px 134.45px 0;
    background: #131313;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    
}

.completed-project__text {
    flex: 1 1 40%;
    max-height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__main-title {
    font-size: 27px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 37px;
    font-family: 'Yeseva One';
    margin-top: 65px;
}

.text__main-content {
    font-size: 14px;
    margin: 34px 0 ;
    max-width: 406px;
    line-height: 26px;
}

.text__flex-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.text__flex-item-1 {
    display: flex;
    
    padding-bottom: 45px;
}

.text__flex-item-2 {
    display: flex;
    
}

.text__flex-box-1 {
    margin-right: 100px;
}

.text__flex-box-3 {
    margin-right: 65px;
}

.text__subtitle {
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Yeseva One';
}

.text__content {
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
}

.slider {
    margin-top: 70px;
}


.completed-project__images {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    margin: 0 auto;
    padding-left: 20px;
}

.images__list {
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 73px;
    color: rgba(255, 255, 255, 0.3);;
    text-transform: uppercase;
}

.images__item:hover {
    color: #E3B873;
    text-decoration: underline;
}

.online-control {
    height: 1075px;
    top: 1650px;
    left: 510px;
    margin-top: -21%;
    
}
.online-control__logo {
    display: flex;
    justify-content: center;
}

.control__img {
    margin-bottom: 31px;
    
}

.online-control__video {
    display: flex;
    justify-content: center;
}


.video__play {
    margin-top: 150px;
    position: absolute;
}

.application__dash {
    width: 55px;
    height: 2px;
    color: #E3B873;
    margin: 62px auto 34px;
}

.completed-project__application {
    margin: 0 auto;
}

.application__text {
    width: 681px;
    margin: 0 auto 93px;
    font-size: 18px;
    font-family: 'Nunito Sans';
    line-height: 38px;
    text-align: center;

}

.application__form {
    width: 769px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    font-family: 'Nunito Sans';
}



.application__form input {
    width: 231px;
    margin-bottom: 5px;
}

.application__form span {
    padding-left: 1px;
}

.application__name {
    width: 231px;
    border-bottom: 1px solid black;
}


.application__phone {
    width: 231px;
    border-bottom: 1px solid black;
}


.application__button {
    width: 200px;
    height: 51px;
    background: #E3B873;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    font-family: 'Nunito Sans';
}

.application__agree {
    margin: 37px auto 0;
    width: 320px;
    vertical-align: middle;
    font-family: 'Nunito Sans';

}

.application__img-ok {
    max-width: 18px;
    
}

.repair__container {
    padding: 0 100px;
}

.repair__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.repair__logo {
    width: 100px;
    margin: 13px auto 31px;
}

.example {
    width: 392px;
    height: 608px;

}

.example__item-1 {
    background-image: url(../images/priceitem.jpg);
    background-repeat: no-repeat;
}

.example__item-2 {
    background-image: url(../images/priceitem2.jpg);
    background-repeat: no-repeat;
    margin: 0 42px;
}

.example__item-3 {
        background-image: url(../images/priceitem3.jpg);
    background-repeat: no-repeat;
}

.example__title {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-family: 'Yeseva One';
    padding-top: 10px;

}

.example__item {
    width: 392px;
    padding: 300px 32px 0;
}

.example__list {
    width: 296px;
    height: 286px;
    padding-left: 34px;
    line-height: 26px;
    color: #959595;
    font-family: 'Nunito Sans';
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-bottom: -10%;

}

.example__button {
    width: 228px;
    height: 54px;
    font-size: 18px;
    background: #E3B873;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    margin-bottom: 53px;
    border: none;

}

.example__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.measurer {
    display: flex;
    flex-direction: row;
    height: 725px;
    margin: 100px 0 180px;
    background-image: url(../images/grafica.jpg);
    background-repeat: no-repeat;
}

.measurer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 610px;
}

.list__item {
    display: flex;
}

.list__circle {
    display: flex;
    justify-content: center;
    margin-left: 235px;
    min-width: 41px;
    height: 41px;
    text-align: center;
    background-color: #E3B873;
    border-radius: 50px;
    border: 10px solid white;

}

.list__number {
    display: block;
    font-size: 18px;
    font-family: 'Yeseva One';
    margin-top: 10px;
    color: #FFFFFF;

}

.list__content {
    margin: auto 21px;
    max-width: 320px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 19px;
    
}

.measurer__form {
    width: 506px;
    height: 509px;
    margin: 59px 100px 38px 206px;
    background-color: #131313;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
}

.measurer__title {
    max-width: 250px;
    margin: 0 auto;
    padding-top: 28px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
}

.measurer__name {
    display: flex;
    flex-direction: column;
    margin: 49px 49px 48px;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.name__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.name__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__phone {
    display: flex;
    flex-direction: column;
    margin: 0 49px;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.phone__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.phone__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__email {
    display: flex;
    flex-direction: column;
    margin: 48px 49px 0;
    height: 50px;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);;
}

.email__subtitle {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.email__input {
    font-size: 14px;
    line-height: 23px;
}

.measurer__agree {
    margin: 16px 0 0 49px;
    font-size: 14px;
}

.measurer__button {
    width: 213px;
    height: 51px;
    margin-left: 244px;
    margin-top: 20px;
    background: #E3B873;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
}

.measurer__pigsale {
    display: flex;
    color: #E3B873;
    margin-left: 240px;
}

.pigsale__img {
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background: #E3B873;
}

.pigsale__img img {
    position: relative;
    left: 18px;
    top: 18px;
}

.pigsale__content {
    max-width: 220px;
    margin: 25px 0 0 25px;
    font-size: 18px;
    font-family: 'Nunito Sans';

}

.realize__container {
    display: flex;
    flex-direction: row;
    height: 864px;
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(../images/realize__background.png);
    background-size: cover;
}

.realize__list {   
    flex: 1 1 35%;
    padding: 137px 0 97px 99px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.realize__list li {
    margin-bottom: 12px;
}

.realize__image-box {
    flex: 1 1 65%;
}

.realize__title {
    max-width: 300px;
    padding-bottom: 50px;
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    text-transform: uppercase;

}

.realize__list li:first-child {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.image-box__item-1 {
    margin-top: -5%;
    margin-right: 45px;
}

.image-box__item-2 {
    position: relative;
    top: -350px;
}

.image-box__item-3 {
    margin-bottom: 240px;
    margin-right: 45px;
}

.image-box__item-4 {
    position: relative;
    top: -315px;
}