
a {
    text-decoration: none;
    color: #FFFFFF;
}

.body {
    width: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

[class*="__container"] {
    margin: 0 auto;
    max-width: 1468px;
}

.main  {
    flex: 1 1 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    min-height: 83px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 -15px;

}

.header__name {
    color: #E3B873;
    margin-left: 92px;
    
}

.nav__list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:#FFFFFF;
    list-style-type: none;
    margin-left: 50px;
    
}

.nav__item {
    margin-right: 47px;
}

.nav__list li:first-child {
    color: #E3B873;
}

.header__request {
    display: flex;
}

.header__number a{
    text-decoration: none;
    color: #E3B873;
    min-width: 126px;

}

.header__button {
    flex: 0 1 161px; 
    background-color: #E3B873;
    height: 37px;
    margin-right: 90px;
}

.button__link {
    width: 161px;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1300px) {
    .header__number {
        position: fixed;
        top: 120px;
        left: 135px;
        text-decoration: underline;
    }
    .header__button {
        position: fixed;
        top: 140px;
        left: 135px;
        width: 161px;
    }
}

@media (max-width: 992px) {

    .nav__list:last-child {
        margin-right: 35px;
    }

    .nav__item {
        margin-right: 23px;
    }

}

@media (max-width: 768px) {

    .header__container {
        justify-content: center;
        align-items: end;
        padding-bottom: 10px;
    }

    .header__name {
        position: fixed;
        margin: 40px auto;
        font-size: 16px;
    }

    .header__number {
        position: fixed;
        top: 120px;
        left: 135px;
        text-decoration: underline;
    }
    .header__button {
        position: fixed;
        top: 140px;
        left: 135px;
        width: 161px;
    }

    .form__title h1{
        font-size: 30px;
    }

    .form__text p{
        font-size: 20px;
        padding: 0 15px 0 0;
    }

    .button-hollow {
        position: absolute;
        bottom: 180px;
        left: 113px;
    }
}

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(../images/Background.jpg);
    min-height: 707px;
    color: #FFFFFF;
    padding-left: 134px;
}

.form__title {
    font-family: 'Yeseva One';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 53px;
}

.form__title span{
    color: #E3B873;
}

.form__text {
    font-size: 22px;
    line-height: 36px;
    font-family: 'Nunito Sans';
    max-width: 505px;
    margin: 19px 0 25px;

}

.form__button {
    width: 207px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    text-decoration: none;
    font-size: 11px;
}

.button-hollow {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 20px;
}

.completed-project__container {
    display: flex;
    width: 1440;
    flex-direction: row;
    min-height: 1074px;
    padding: 107px 134.45px 0;
    background: #131313;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    
}

.completed-project__text {
    flex: 1 1 40%;
    max-height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__main-title {
    font-size: 27px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 37px;
    font-family: 'Yeseva One';
    margin-top: 65px;
}

.text__main-content {
    font-size: 14px;
    margin: 34px 0 ;
    max-width: 406px;
    line-height: 26px;
}

.text__flex-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.text__flex-item-1 {
    display: flex;
    
    padding-bottom: 45px;
}

.text__flex-item-2 {
    display: flex;
    
}

.text__flex-box-1 {
    margin-right: 100px;
}

.text__flex-box-3 {
    margin-right: 65px;
}

.text__subtitle {
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Yeseva One';
}

.text__content {
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
}

.slider {
    margin-top: 70px;
}


.completed-project__images {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    margin: 0 auto;
    padding-left: 20px;
}

.images__list {
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 73px;
    color: rgba(255, 255, 255, 0.3);;
    text-transform: uppercase;
}

.images__item:hover {
    color: #E3B873;
    text-decoration: underline;
}

.online-control__container {
    height: 1466px;
    top: 1650px;
    left: 510px;
    margin-top: -21%;
    
}
.online-control__logo {
    display: flex;
    justify-content: center;
}

.control__img {
    margin-bottom: 31px;
}

.online-control__video {
    display: flex;
    justify-content: center;
}

.video__play {
    margin-top: 150px;
    position: absolute;
}

.completed-project__dash {
    width: 55px;
    height: 100px;
    color: #E3B873;
    margin: auto;
}

